body {
    margin: 0px;
}

.end-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-card{
    min-width: 1200px;
}

.pagination {
    padding-top: 18px;
}

.my_refresh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 策略管理-策略action
.action-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .row{
       margin-right: 30px;
    }
}
.table-icon-line{
    padding-right: 5px
}
.table-icon-enabled{
   color: #50d4ab
}
.table-icon-disabled{
    color: #adb0b8
}

.delbutton{
    min-width: 90px
}